body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    /* text-align: center; */
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p{
    font-size: 40px;
}

input{
    margin: 7px;
    width: 392px;
    height: 56px;
    background-color: #333;
    color: #c9c9c9;
    font-size: 30px;
    border: none; /* Remove todas as bordas padrão */
    border-bottom: 1px solid transparent; /* Adiciona uma borda transparente para manter a altura */
    position: relative; /* Necessário para posicionar o ::after */
}


input:focus {
    outline: none;
    border-bottom-color: gray; /* Muda a cor da borda transparente para cinza */
}

input:focus::after {
    content: '';
    position: absolute;
    bottom: -1px; /* Posiciona a linha logo abaixo do input */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: gray; /* Cor da linha */
}

.form-group{
    display: flex;
}
#empresa {
    width: 810px;
}

.input{
    border-bottom: 1px solid white;
    font-style: italic;
}
#ajuda {
    width: 810px;
    height: 75px;
}

.campoNome{
    margin-left: 0px;
    margin-bottom: 15px;
}

.campoEmail{
    margin-left: 0px;
    margin-bottom: 15px;
}
.campoEmpresa{
    margin-left: 0px;
    margin-bottom: 15px;
}
.campoAjuda{
    margin-left: 0px;
    margin-bottom: 15px;
}
.form{
    padding: 5px
}
.right-side{
    text-align: left;
}

.right-side h3 {
    font-size: 30px;
    margin-left: 8px;
}
.footer-content {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    
}

footer h3{
    text-align: left;
    margin-left: 0px;
}

footer h3 a{
    color: white;
}

#linkOgilvy{
    border: none;
    border-bottom: 2px solid white;
    width: 1429px;
    padding-bottom: 15px;
}
button{
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background: none;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.form-content{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 461px;
    height: 218px;
    text-align: left;
}

.logo h3{
    font-size: 60px;
}

.logo p{
    font-size: 32px;
}
.socials {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    width: 500px;
    padding: 0px;
    margin: 0;
    opacity: 0.8;
}
.socials p{
    margin: 0;
}
.content-socials{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

img {
    max-width: 28px;
}

.icons-jussi{
    display: flex;
    max-width: 170px;
    gap: 30px;
    align-items: center;
}

.socials a {
    color: white;
    text-decoration: none;
}

.privacy{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
}
