body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}

input {
    margin: 7px;
    width: 392px;
    height: 56px;
    background-color: #333;
    color: #c9c9c9;
    border: none;
    border-bottom: 1px solid transparent;
    position: relative;
}

input:focus {
    outline: none;
    border-bottom-color: gray;
}

input:focus::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.input {
    border-bottom: 1px solid white;
    font-style: italic;
}

.campoNome,
.campoEmail,
.campoEmpresa,
.campoAjuda {
    margin-left: 0;
    margin-bottom: 15px;
}

form {
    padding: 5px;
}

.right-side {
    text-align: left;
}

.right-side h3 {
    margin-left: 8px;
}

.footer-content {
    width: 100%;
    max-width: 425px;
}


footer h3 {
    text-align: left;
    margin-left: 0;
}

footer h3 a {
    color: white;
}

#linkOgilvy {
    border: none;
    border-bottom: 2px solid white;
    width: 415px;
    padding-bottom: 15px;
}

button {
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background: none;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.success-message,
.error-message {
    display: none;
    font-size: 1.5em;
    margin-left: .6em;
}

.success-message {
    color: rgb(68, 224, 68);
}

.error-message {
    color: rgb(243, 47, 73);
}

.logo {
    width: 461px;
    height: 218px;
    text-align: left;
}

.logo h3 {
    font-size: 40px;
}

.logo p {
    font-size: 20px;
}

.socials {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    width: 500px;
    padding: 0;
    margin: 0;
    opacity: 0.8;
}

.socials p {
    margin: 0;
}

.content-socials {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

img {
    max-width: 28px;
}

.icons-jussi {
    display: flex;
    max-width: 170px;
    gap: 10px;
    align-items: center;
}

.socials a {
    color: white;
    text-decoration: none;
}

.privacy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
}

@media (min-width: 1200px) {
    footer {
        height: auto;
        position: fixed;
    }
    #linkOgilvy {
        border: none;
        border-bottom: 2px solid white;
        width: 1429px;
        padding-bottom: 15px;
    }
    .footer-content {
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
    }
    .form-content {
        display: flex;
        justify-content: space-between;
    }
    .form-group {
        flex-direction: row;
        font-size: 30px;
    }
    form {
        font-size: 30px;
    }
    .socials {
        flex-direction: row;
        justify-content: space-between;
    }
    #empresa,
    #ajuda {
        width: 810px;
    }
    #ajuda {
        height: 75px;
    }
    .right-side h3,
    input {
        font-size: 30px;
    }
    p {
        font-size: 40px;
    }
    .logo h3 {
        font-size: 60px;
    }
    .logo p {
        font-size: 32px;
    }
    .icons-jussi {
        gap: 30px;
    }
}